<footer>
  <div class="card flex justify-content-center p-2 gap-1 py-4">
    <p-floatLabel>
      <input
        id="search"
        type="text"
        pInputText
        [(ngModel)]="onSearch"
        (keydown.enter)="getLocationsByFilterByName()"
      />
      <label for="search">Pesquise por Nome</label>
    </p-floatLabel>
    <p-button
      icon="pi pi-search"
      label="Pesquisar"
      (onClick)="getLocationsByFilterByName()"
    />
  </div>
</footer>

<main>
  <div class="flex flex-wrap w-full justify-content-center gap-2">
    <div
      *ngFor="let location of locations.results"
      class="border-1 border-round-3xl p-2 px-8 flex flex-column justify-content-center align-items-center"
    >
      <h2 class="text-sm">{{ location.name }}</h2>
      <p>{{ location.type }}</p>
      <p>{{ location.dimension }}</p>
    </div>
  </div>
</main>
