<header>
  <div class="card flex justify-content-center p-2 gap-1 py-4">
    <p-floatLabel>
      <input
        id="search"
        type="text"
        pInputText
        [(ngModel)]="onSearch"
        (keydown.enter)="getFilterLocation()"
      />
      <label for="search">Digite o nome</label>
    </p-floatLabel>
    <div class="card flex justify-content-center">
      <p-dropdown
        [options]="filter"
        [(ngModel)]= "selectedFilter"
        optionLabel="name"
        placeholder="Selecione o filtro"
      />
    </div>
    <p-button
      icon="pi pi-search"
      label="Pesquisar"
      (onClick)="getFilterLocation()"
    />
  </div>
</header>
<main>
  <div class="flex flex-wrap w-full justify-content-center gap-2">
    <div
      *ngFor="let location of locations.results"
      class="border-1 border-round-3xl p-2 px-8 flex flex-column justify-content-center align-items-center"
    >
      <h2 class="text-sm">{{ location.name }}</h2>
      <p>{{ location.type }}</p>
      <p>{{ location.dimension }}</p>
    </div>
  </div>
</main>
